body{
    font-family: 'PT Serif', serif;
}
.outer{
    background-color: white;
    width:50em;
    height: 50em;
    margin: auto;
    margin-top:1em;
    border-radius: 10px;
    padding-top: 1em;
}
.room-info{
    background-image: linear-gradient(rgba(2, 33, 159, 0.5),
    rgba(2, 33, 159, 0.5)),  url(../images/bullAndBear.jpg);
    background-position: 25% 56%;
    /* filter: brightness(90%); */
    width: 48em;
    height: 13em;
    margin: auto;
    border-radius: 5px;
}
.Team-Name{
    margin: auto;
    color: white;
    text-transform: uppercase;
    font-weight:bolder !important;
    /* margin-left: 5em; */
    padding-top: 2em;
    padding-bottom: 10px;
}
.info{
    text-align: center;
    /* font-weight: bold; */
}
.info-row{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 5em;
}

.reminvest{
    color:white;
    /* margin-left: 3em; */
    padding-right: 2em;
    border-right: 2px solid white;
}
.profit{
    color:white;
    padding-left: 2em;
    padding-right: 2em;
    border-right: 2px solid white;
}
.initial{
    color:white;
    padding-left: 2em;
}
.rupee{
    font-family: 'Lato', sans-serif;
}
.options-row{
    display: flex;
    flex-direction: row;
}
.port-label{
    width: 22em;
    height: 3em;
    color:white;
    padding-bottom: 3em;
    background-color:rgb(178, 169, 169);
    margin-top: 8px;
    margin-left: 1em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.add-stock{
    color: white;
    background-color: green;
    font-weight: 600;
    width: 12em;
    height: 2.5em;
    border: none;
    margin-top: 8px;
    border-radius: 3px;
    margin-left: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.add-stock:hover{
    background-color: rgb(4, 79, 4)
}
.leaderboard{
    color: white;
    background-color:rgb(255, 119, 40);
    font-weight: 600;
    width: 12em;
    height: 2.5em;
    border-radius: 3px;
    border: none;
    margin-top: 8px;
    margin-left: 0.5em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.leaderboard:hover{
    background-color:rgb(206, 75, 0);
}
.portfolio{
    background-color: rgb(218, 208, 208);
    width:48em;
    height:32em;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-top:1em ;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
}
.stock{
    display: flex;
    flex-direction: row;
    width:45em;
    height: 5em;
    margin: auto;
    margin-top: 0px;
    background-color: white;
    border-radius: 10px;
    padding-left:1em;
    margin-bottom: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.profit-current, .invested-quantity{
    display: flex;
    flex-direction: row;
}
.sell{
    width: 7em;
    height: 2.5em;
    background-color: rgb(0, 128, 255);
    border:none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 1em;
}
.sell:hover{
    background-color: rgb(4, 54, 145);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}