{% extends 'User/base.html' %}
{% load static %}


{% block css %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'User/css/profile.css' %}?{% now "U" %}">
<style>
      .avatar {
         vertical-align: middle;
         width: 30px;
         height: 30px;
         border-radius: 50%;
       }
    </style>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

{% endblock css %}


{% block content %}
<nav class="navbar navbar-light navPad" style="background-color: #377dc34d">
        <div class="container-fluid">
            <a href="/main" style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px blue;" class="navbar-brand logoPad hh66Heading" style="width: 148px;height: 40px;">Stock Trainer</a>
            <div style="padding-top: 5px">
                <img style="margin-right: 5px" src="{% static 'Stock_Game/images/hi5.jpg' %}" alt="Avatar" class="avatar">
                <a style="font-size:18px; color:white; padding-right:40px; padding-top: 5px; margin-top: 5px">Welcome, {{request.user}}</a>
                <a href="/user/logout" style="font-size:18px; color:white; padding-right:40px; text-decoration: none;" onclick="logout()">logout</a>
            </div>
            <script>
                    function logout(){
                    alert('You have logged out successfully')
                    }
                </script>
        </div>
        </nav>
<div class="container outer">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" height="150px" width="150px" 
                src="/media/{{ user.Profile.image_field }}">
            <br>
            <span class="font-weight-bold" style="font-weight: bold;">{{ user.username }}</span>
            <br>
            <span class="text-black-50" style="font-weight: bold;">{{ user.email }}</span>
            <br>
            {% if bool %}
            <button class="btn btn-danger subs" data-blog="{{ user.Profile.Consultant.id }}">Subscribe</button>
            {% else %}
            <button class="btn btn-info subs" data-blog="{{ user.Profile.Consultant.id }}">Unsubscribe</button>
            {% endif %}

        </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">About Me</h4>
                </div>
                <div class="row mt-2">
                    <label class="text-muted" style="font-weight: bold;">{{ user.Profile.about_me }}</label>
                </div>
                <hr>
                {% if post.all %}
                <div class="row mt-3" style="height: 50vh;overflow-y: scroll;">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">My Top Blogs</h4>
                    </div>
                    <div style="text-align: center;border:1px solid black;">
                        <br>
                        {% for p in post.all %}
                            <h3>{{ p.title }}</h3>
                            <div>{{ p.blogs|safe }}</div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="row mt-3" style="overflow-y:scroll;">
                    <div style="text-align:center">
                        <h1>Sry, No blogs yet posted by Consultant</h1>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block js %}
     <script>
         $(document).ready(function(){
             $('.subs').on('click',function(){
            //   console.log($('.subs').data('b'));
                 var q=$('.subs').text();
                 var e=$('.subs').data('blog');
                 var check=0;
                 if(q=="Subscribe"){
                    check=1;
                 }

                //  console.log(check);
                 $.ajax({
                     type: "post",
                     url: "{% url 'addSubscriber' %}",
                     data: {
                         blog:e,
                         check:check,
                         csrfmiddlewaretoken:"{{csrf_token}}",
                     },
                     dataType: "json",
                     success: function (response) {
                         console.log(response.bool);
                         if(response.bool==true){
                            var e1=$('.subs').text();
                            console.log(e1)
                            if(e1==="Subscribe"){
                                console.log("First");
                                $('.subs').text("Unsubscribe");
                                $('.subs').attr('data-b',0);
                            }
                            else{
                                console.log("Second");
                                $('.subs').text("Subscribe");
                                $('.subs').attr('data-b',1);
                            }
                         }
                        //  else{
                        //     console.log(response);
                        //     var e1=$('.'+e+'.upvotes').text();
                        //     let r=parseInt(e1);
                        //     console.log(e1);
                        //     r--;
                        //     $('.'+e+'.upvotes').text(r);
                        //  }
                     }
                 });
             })
         });
    </script>

{% endblock %}
