{% extends 'User/base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'User/css/subscriber.css' %}?{% now "U" %}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'User/css/templatemo_style.css' %}?{% now "U" %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
      .avatar {
         vertical-align: middle;
         width: 30px;
         height: 30px;
         border-radius: 50%;
       }
    </style>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

{% endblock css %}


{% block content %}
    <nav class="navbar navbar-light navPad" style="background-color: #1F51FF">
        <div class="container-fluid">
            <a href="/main" style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px blue;" class="navbar-brand logoPad hh66Heading" style="width: 148px;height: 40px;">Stock Trainer</a>
            <div style="padding-top: 5px">
                <img style="margin-right: 5px" src="{% static 'Stock_Game/images/hi5.jpg' %}" alt="Avatar" class="avatar">
                <a style="font-size:18px; color:white; padding-right:40px; padding-top: 5px; margin-top: 5px">Welcome, {{request.user}}</a>
                <a href="/user/logout" style="font-size:18px; color:white; padding-right:40px; text-decoration: none;" onclick="logout()">logout</a>
            </div>
            <script>
                    function logout(){
                    alert('You have logged out successfully')
                    }
                </script>
        </div>
        </nav>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/User/images/blog4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block justify-content-center">
            <h1 class="pa">Make a mark</h1>
            <br>
            <a href="#latest-blog" class="btn" style="background-color: orange ;">View authors</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/User/images/blog2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="pa">Share your Knowledge</h1>
            <br>
            <a href="#latest-blog" class="btn" style="background-color: orange ;">View authors</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/User/images/blog1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="pa">Chance to feature in Top authors</h1>
            <br>
            <a href="#latest-blog" class="btn" style="background-color: orange ;">View authors</a>
          </div>
      </div>
    </div>
  </div>



        <div id="latest-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-section">
                            <h2>Our Top Authors</h2>
                            <img src="../../static/User/images/under-heading.png" alt="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for u in c %}
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                <img src="/media/{{ u.consultant_id.image_field }}" alt="" />
                            </div>
                            <div class="blog-content" onmouseover="mouseOn(this)" onmouseleave="mouseOff(this)">
                                <div class="content-show">
                                    <h4><a href="{% url 'profile'  u.consultant_id.user.username  %}">{{ u.consultant_id.user.username }}</a></h4>
                                </div>
                                <div class="content-hide h">
                                    <p style="color: wheat;">{{ u.consultant_id.about_me }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        {% endblock content %}
{% block js %}
<script src="{% static 'User/js/subscribe.js' %}?{% now "U" %}"></script>
{% endblock %}




































<!-- 
<div class="container-fluid justify-content-center text-center" style="background-color:rgba(0,0,0,0.5)">
    <div class="row justify-content-center">
            <h1 class="justify-content-center h1" style="padding-top: 9%; padding-bottom: 9%; font-size: 100px; color:white;font-style: italic;">Our Authors</h1>
    </div>
</div>
<hr>
<div class="container-fluid" style="width: 100%; overflow-x:scroll">
    <div class="row flex-row flex-nowrap " style="width:100%;">
        {% for u in c %}
            <div class="col-3">
                <div class="card" style="width: 18rem;margin-right: 2%;">
                    <img class="card-img-top" src="/media/{{ u.consultant_id.image_field }}" alt="Card image cap" style="width: 100%;
                    height: 15vw;
                    object-fit: cover;">
                    <div class="card-body">
                    <h5 class="card-title">{{ u.consultant_id.user.username }}</h5>
                    <p class="card-text">{{ u.consultant_id.about_me }}</p>
                    <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
                </div>
            </div>
          {% endfor %}
    </div>
</div> -->
<!-- <div class="container-fluid horizontal-scrollable justify-content-center">
    <div class="container-fluid py-2">
        <div class="row">
            {% for u in c %}
            <div class="card" style="width: 18rem;margin-right: 2%;">
                <img class="card-img-top" src="/media/{{ u.consultant_id.image_field }}" alt="Card image cap" style="width: 100%;
                height: 15vw;
                object-fit: cover;">
                <div class="card-body">
                <h5 class="card-title">{{ u.consultant_id.user.username }}</h5>
                <p class="card-text">{{ u.consultant_id.about_me }}</p>
                <a href="#" class="btn btn-primary">Subscribe</a>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
   
</div> -->

